@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  background: #d4ece4;
  transition: 0.5s ease-in;
  -webkit-user-select: none;
}
h1 {
  margin-bottom: 15px;
  transition: 0.5s ease-in;
}
input {
  appearance: none;
}
p {
  margin-bottom: 15px;
  cursor: pointer;
}
#themeCheck {
  position: relative;
  width: 20px;
  height: 5px;
  background-color: #292929;
  border-radius: 3px;
  left: 0;
  transform: translateY(-8px);
}
#themeCheck::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  left: 0;
  background: #121212;
  transition: 0.5s cubic-bezier(0.24, 0.45, 0.2, 1.47);
  box-shadow: 0 0 8px #000;
  transform: translate(-50%, -37%);
}

input:checked ~ .calender {
  background: #121212;
}

input:checked ~ h1,
input:checked ~ label p,
input:checked ~ .calender table thead tr th,
input:checked ~ .calender table thead tr td,
input:checked ~ .calender table tbody tr td {
  color: #fff;
}
input:checked ~ .calender table tbody tr .today {
  background: #bb86fc;
}
input:checked ~ .calender table tbody tr .date:hover,
input:checked ~ .calender table tbody tr .month:hover {
  background: #292929;
}
input:checked ~ label #themeCheck::before {
  box-shadow: 0 0 8px #ccc;
  left: 20px;
  background: #fff;
}
input:checked ~ label #themeCheck {
  background-color: #d4ece4;
}
body,
thead,
tbody,
table,
tbody,
.month,
label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
label {
  flex-direction: row;
  gap: 20px;
}
table {
  width: 100%;
  height: 100%;
}
thead tr:nth-child(1) {
  cursor: pointer;
}
tbody {
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.calender {
  width: 300px;
  height: 370px;
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s ease-in;
  background-color: #f6ebf4;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
td,
th {
  width: 40px;
  height: 40px;
  text-align: center;
  transition: 0.5s ease-in;
  color: #482673;
}
.date:hover {
  background-color: #d4ece4;
  border-radius: 50%;
  transition: ease-out;
  cursor: pointer;
}
.monthYear {
  width: 150px;
  text-align: center;
}
.blank {
  cursor: default;
}
.today {
  border-radius: 50%;
  background-color: #4cbfa6;
}
.trMonth {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.month {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-weight: 600;
  margin: auto;
}
.month:hover {
  background-color: #d4ece4;
  transition: ease-out;
  cursor: pointer;
}
